

@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanslycian.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

body {
  margin: 20px;
  margin-top: 0px;
  font-family: arial, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  position:relative;
  font-family: 'Hanna', serif;
  font-style: italic;
  margin-bottom: 10px;
}
h1 span {
  font-color: grey;
  font-size : 15px;
}

.navigation {
  font-family: 'Hanna', serif;
  width: 100%;
  height: 40px;
  margin-bottom:10px;
  /*background-color: #eee;*/
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: right;

}

.navigation li a {
  width: 100px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
   -webkit-transition: background-color 0.5s, font-size 0.5s;
  
}

.navigation li a:hover {
}

.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
  -webkit-transition: background-color 0.5s;
}

.link:hover {
  background-color: white;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}


.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

.warning {
  color : red;
}

.jumbotron {
  overflow: scroll;
  font-family: 'Noto Sans Lycian', sans-serif;
  padding-top: 10px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  -webkit-transition: background-color 0.5s;


  height: 500px;
}

.jumbotron:hover {
  background-color:white;
}

.jumbotron h3{
  width:100%;
  /*font-family: 'Nanum Brush Script', serif;*/
  color:#839abe;
  display:block;
  height:40px;
  padding:5px;
  text-align: center;
  background-color:white;
  border-radius: 5px;
}
.jumbotron ul{
  width:100%;
  padding-left:0px;
}
.jumbotron ul li{
  cursor: pointer;
  font-family: 'Nanum Gothic Coding', serif;
  list-style-type:none;
  height:40px;
  padding:5px;
  text-align: center;
  -webkit-transition: background-color 0.5s;
  border-radius: 5px;
}
.jumbotron ul li:hover{

  background-color:#839abe; 
}


#repeating {

  padding:20px;
  background-color:rgba(255, 255, 255, 0.3);
  position:fixed;
  margin:auto;
  width:60%;
  left:20%;
  right:20%;
  top:10%;
  bottom:10%;
  overflow: scroll;
  border: solid grey 0.5px;
  border-radius: 5px;
  -webkit-transition: 0.1s, background-color 0.5s;
}
#repeating h1{
  text-align: center;
}
#repeating:hover {
  background-color: white;
}

#exit{
  cursor:pointer;
  font-size:25px;
  position:fixed;
  top:15%;
  right:25%;
  
  -webkit-transition: color 0.5s, font-size 0.5s;
}
#exit:hover{
  color:red;
}

#finish{
  padding:1px;
  height:50px;
  text-align:center;
  cursor:pointer;
  -webkit-transition: height 0.5s,color 0.5s, background-color 0.5s;
}

#finish:hover {
  height:70px;
  background-color:black;
  color:white;
}


